@import "compass/reset";

body {
	background: #FFF8DC;
	font-family: Verdana, sans-serif;
}

p {
	color: white;
	background-color: #B4EEB4;
	border-radius: 10px;
	font-size: 1.4em;
	margin: 5% 25%;
	padding: 2em;
	text-shadow: 0 1px 3px #9BCD9B;
	text-align: center;
}

.filelist {
	margin: 0 auto;
	width: 500px;
	
	h3 {
		font-size: 32px;
		font-weight: bold;	
	}
	ul {
		margin: 0 0 1em 1em;
		li {
			line-height: 1.6em;
		}
	}

}